.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    width: 100%; 
}

.navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto; 
}

.navbar-brand {
    display: flex;
    align-items: center;
    margin-right: 15px; 
}

.custom-nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-link.active {
    color: #fff;
    background-color: #9c9c9c;
    border-radius: 5px;
    padding: 10px 15px;
    box-shadow: 5px 6px 5px rgba(0, 0, 0, 0.2);
}

.nav-logo {
    width: 50px;
}

.nav-link {
    transition: all 0.3s ease;
}

.nav-link:hover {
    background-color: #6e6e6e;
    color: #fff;
    border-radius: 3px;
}
