.map-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh; 
  }
.map-cell {
    width: 80px;
    height: 80px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 16px;
}
.resizable-handle {
    width: 100px;
    height: 100px;
    background-color: #000000;
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: nwse-resize;
  }

.map-cell app-planet {
    margin: 0;
    padding: 0;
}

.noPlanet {
    width: 80px;
    height: 80px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: #747272;
}


.custom-container {
    padding: 20px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.custom-row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.custom-col {
    flex: 1;
    margin: 10px;
    text-align: center;
}

.or-text {
    font-size: 2.5rem;
    color: #333;
    margin: 20px 0;
}

.custom-col h4 {
    font-size: 1.5rem;
    color: #666;
    margin-bottom: 15px;
}

.image-style {
    width: 100%;
    max-width: 500px; 
    height: auto;
    margin-bottom: 10px;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); 
}

.btn-create-game {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-create-game:hover {
    background-color: #218838;
}
.interactable-image {
    z-index: 10;
    transition: transform 0.1s ease-out;
    will-change: transform; 
    transform-style: preserve-3d;
}