<div class="container mt-3">
    <br>
    <h4>Create Games</h4>
    <div class="row">
        <div class="col">
            <button *ngFor="let game of (customGames$ | async).customGames" class="btn btn-primary"
                style="text-align: left; margin-right: 5px; margin-top: 5px;" (click)="onSelectCustomGame(game.players, game.rounds, game.duration)">
                Player: {{game.players}} <br>
                Rounds: {{game.rounds}} <br>
                Rt: {{game.duration/1000}}s </button>
        </div>
        <div class="col">
            <div class="container">
                <div class="row">
                    <div class="col">
                        MaxPlayers:
                        <input type="number" aria-label="maxPlayers" class="form-control" [(ngModel)]="players">
                    </div>
                    <div class="col">
                        MaxRounds:
                        <input type="number" aria-label="Rounds" class="form-control" [(ngModel)]="rounds">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        RoundTime:
                        <input type="number" aria-label="roundtime" class="form-control" [(ngModel)]="duration">
                    </div>
                    <div class="col">
                        <br>
                        <button class="btn btn-primary" (click)="onCreateCustomGame()">Create Custom</button>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-2">
            <h4>Current Games</h4>
        </div>
        <app-gameshandler style="margin-top: 1%;"></app-gameshandler>
    </div>
</div>