.list-group-item {
    background-color: #f8f9fa;
    border: 1px solid #e9ecef;
    border-radius: 0.25rem;
    margin-bottom: 0.5rem;
    padding: 0.75rem 1.25rem;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.list-group-item:hover {
    background-color: #e2e6ea;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.table-container {
    max-height: 400px;
    overflow-y: auto;
}
.sticky-header {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1; 
}
.clickable-entity {
    cursor: pointer;
    text-decoration: underline;
}

.clicked-entity {
    background-color: #f7e121;
}

.positive-row {
    background-color: lightgreen;
}

.negative-row {
    background-color: lightcoral;
}

.list-group-item-primary {
    background-color: #cce5ff;
    color: #004085;
    border-color: #b8daff;
}

.list-group-item:not(:first-child) {
    border-top: 0;
}

/* Button styles */
.btn {
    margin-right: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
}

.btn:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn-primary {
    background-color: #007bff;
    color: white;
}

.btn-success {
    background-color: #28a745;
    color: white;
}

.inspection-container {
    margin-top: 1rem;
    max-height: 700px;
    overflow: auto;
}

.no-robots {
    color: #dc3545;
    font-weight: bold;
}