<ul class="list-group mt-3">
  <li class="list-group-item list-group-item-primary" (click)="copyToClipboard(player.playerId)">{{ player.name }}</li>
  <li class="list-group-item">
    <div style="display: flex; justify-content: space-between; align-items: center;">
      <div style="margin-right: 15px;">
        Money: {{ player.money }}
      </div>
      <button class="btn mb-2 transbtn" (click)="toggleTransactionHistory()"
        style="background-color: #4CAF50; color: white; border: none; padding: 10px 20px; border-radius: 5px; font-weight: bold; transition: background-color 0.3s, transform 0.3s;">
        Transactions
      </button>
    </div>
    
    <div *ngIf="showTransactionHistory">
      <input type="text" [(ngModel)]="searchTerm" class="form-control mb-2" placeholder="Search for Entity">
      <div #tableContainer class="table-container mt-2" >
        <table class="table table-hover table-bordered">
          <thead class="thead-dark">
            <tr>
              <th class="sticky-header">Type</th>
              <th class="sticky-header">Entity</th>
              <th class="sticky-header">Item</th>
              <th class="sticky-header">Amount</th>
              <th class="sticky-header">Earning</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let transaction of filteredTransactions" [ngClass]="{
                  'table-success': transaction.earning > 0,
                  'table-danger': transaction.earning < 0
                }">
              <td>{{ transaction.type }}</td>
              <td (click)="handleClickedCell(transaction.entity)"
                [class.clicked-entity]="clickedCells[transaction.entity]"
                [class.clickable-entity]="transaction.entity && transaction.entity !== 'Admin'">
                {{ transaction.entity }}
              </td>
              <td >{{ transaction.item === 'miningLevel' ? 'mL' : transaction.item === 'miningSpeed' ? 'mS': transaction.item === 'energyRegeneration' ? 'eRegen': transaction.item}}</td>
              <td>{{ transaction.amount }}</td>
              <td [ngClass]="{
                'positive-row': transaction.earning > 0,
                'negative-row': transaction.earning < 0
              }">{{ transaction.earning > 0 ? '+' + transaction.earning : transaction.earning }}</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </li>
  <li class="list-group-item">
    <div class="container" *ngIf="player.robots.length > 0">
      Robots:
      <div class="row">
        <div class="col">
          <button class="btn btn-primary" (click)="toggleHighlightRobots()">
            <span [innerHTML]="highlightRobots ? '<strong><u>Highlight All</u></strong>' : 'Highlight All'"></span>
          </button>
        </div>
        <div class="col">
          <button class="btn btn-success" (click)="showRobots = !showRobots">
            Inspect ({{
            player.robots.length
            }})
          </button>
        </div>
      </div>
    </div>

    <div *ngIf="showRobots" style="margin-top: 3px; max-height: 700px; overflow: auto;">
      <input type="text" [(ngModel)]="robotSearchTerm" class="form-control" placeholder="Search Robots">

      <app-robot *ngFor="let robo of filteredRobots" [robot]="robo" [infoToShow]="tag"></app-robot>
    </div>
    <div *ngIf="player.robots.length < 1" style="color: red">No Robots</div>
  </li>
</ul>