<div class="settings-bar" [class.collapsed]="isCollapsed">
    <button class="toggle-button" (click)="toggleCollapse()">☰</button>

    <div class="settings-content">
        <h2>Settings</h2>

        <div class="slider-container">
            <label for="zoom">Map-Zoom: {{mapScale}}</label><br>
            <input type="range" id="zoom" min="0.1" max="5" step="0.1" [(ngModel)]="mapScale" (input)="scaleMap()">
        </div>

        <div class="option-section">
            <h4>Change Robot Images</h4>
            <div class="option-item">
                <input type="radio" id="option1" name="robot-image" value="random" 
                       [(ngModel)]="robotImageType" (change)="changeRobotImage()">
                <label for="option1">Random Robot Images</label>
            </div>
            <div class="option-item">
                <input type="radio" id="option2" name="robot-image" value="team" 
                       [(ngModel)]="robotImageType" (change)="changeRobotImage()">
                <label for="option2">Team Robot Images</label>
            </div>
            <h4>Change Background Images</h4>
            <div class="option-item">
                <input type="radio" id="image1" name="background-image" [(ngModel)]="backgroundImage" value="nothing"  
                (change)="changeBackgroundImage()">
                <label for="image1">No Backgrounds</label>
            </div>
            <div class="option-item">
                <input type="radio" id="image2" name="background-image" [(ngModel)]="backgroundImage" value="landscape" 
                 (change)="changeBackgroundImage()">
                <label for="image2">Landscape Backgrounds</label>
            </div>
            <div class="option-item">
                <input type="radio" id="image3" name="background-image" [(ngModel)]="backgroundImage" value="planet"  
                (change)="changeBackgroundImage()">
                <label for="image3">Planet Backgrounds</label>
            </div>
            <h4>Shown Data</h4>
            <div class="option-item">
                <input type="checkbox" id="status" name="PlanetStatus" [(ngModel)]="planetStatus" value="amount"  
                (change)="showPlanetStatus()">
                <label for="status">Planet Status</label>
            </div>
            <h4>Robot Options</h4>
            <div class="slider-container">
                <label for="zoom">Robot-Image-Scale: {{robotImageScale}}</label><br>
                <input type="range" id="zoom" min="1" max="2.5" step="0.1" [(ngModel)]="robotImageScale" (input)="changeRobotScale()">
            </div>
        </div>

        <!-- <button class="settings-btn" (click)="toggleAchievements()">Achievements</button>
        <div class="achievements" *ngIf="showAchievements">
        </div>

        <button class="settings-btn">Additional Button 1</button>
        <button class="settings-btn">Additional Button 2</button> -->
    
    </div>
</div>
