<div class="container planet" 
     [ngClass]="{'highlighted': planet.highlighted}" 
     [ngStyle]="planet.highlighted ? {
         'border': '3px solid', 
         'border-image': 'linear-gradient(to right, ' + calculateRobotProportions() + ') 1 stretch'
     } : {}"
     [style.background-image]="getBackgroundImage(planet.resourceType)" 
     (click)="copyToClipboard(planet.planetId)">
  <div class="row">
    <div class="col-6">
      <div class="tooltip-container">
        <img [src]="planet.resourceType" style="width: 32px;" alt="" class="planet-image"
          *ngIf="planet.resource.capacity > 0">
        <span class="custom-tooltip">{{ getResourceName(planet.resourceType) }}</span>
      </div>
    </div>
    <div class="col-6 planetInfo" [ngClass]="{'always-show': showInfo}" *ngIf="planet.resource.amount > 0">
      {{ formatNumber(planet.resource.amount) }}

    </div>
  </div>
  <div class="copied-message" [class]="copiedClass">Copied!</div>
  <div class="row">
    <div class="col-12" *ngIf="planet.robots.length > 0">
      <div class="robots-container">
        <div class="spinner" *ngIf="!allRobotsLoaded()"></div>
        <img *ngFor="let robot of planet.robots" [src]="robotImageType === 'random' ? robot.img[0] : robot.img[1]"
          alt="" class="robot-image" (load)="onRobotImageLoad(robot.robotId)">
      </div>
    </div>
  </div>
</div>