.spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.highlighted {
  background-color: #fff5f5;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.tooltip-container {
  position: relative;
  display: inline-block;
}

.custom-tooltip {
  visibility: hidden;
  width: 100px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  top: 50%;
  right: 100%;
  transform: translateY(-50%);

  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-container:hover .custom-tooltip {
  visibility: visible;
  opacity: 1;
}

.custom-tooltip::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent black;
}

.highlighted:hover {
  transform: scale(1.15);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.planet {
  width: 80px;
  height: 80px;
  position: relative;
  padding: 5px;
  margin: 0;
  border-radius: 5px;
  background-color: #f2f2f2;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s, border-color 0.3s, background-color 0.3s;
  cursor: pointer;
  background-size: cover;
  background-position: center;
}

.planet:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.robots-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 50px;
  overflow: hidden;
}


.robot-image {
  width: 20px;
  height: 20px;
  margin: -5px;
  border-radius: 50%;
  border: 1px solid #fff;
  background-color: #f0f0f0;
}

.planet-image,
.robot-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}


.copied-message {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.9);
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s;
}

.copied-message.visible {
  opacity: 1;
  visibility: visible;
}

.planetInfo {
  display: none;
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 2px 5px;
  border-radius: 3px;
  font-size: 0.8rem;
}

.planetInfo.always-show,
.planet:hover .planetInfo {
  display: block;
}

.actual-amount-tooltip {
  display: none;
  position: absolute;
  bottom: 100%;
  left: 20%;
  transform: translateX(-50%);
  background-color: #333;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.planetInfo:hover .actual-amount-tooltip {
  display: block;
}

.robot-cluster {
  position: relative;
  display: inline-block;
}

.cluster-image {
  width: 50px;
  height: 50px;
}

.robot-cluster-count {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: white;
  border-radius: 50%;
  padding: 8px;
  font-size: 1em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
  min-width: 30px;
  min-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
