<div class="container planet" [ngClass]="{'highlighted': planet.highlighted}" [ngStyle]="planet.highlighted ? {
         'border': '3px solid', 
         'border-image': 'linear-gradient(to right, ' + calculateRobotProportions() + ') 1 stretch'
     } : {}" [style.background-image]="getBackgroundImage(planet.resourceType)"
  (click)="copyToClipboard(planet.planetId)">
  <div class="row">
    <div class="col-6">
      <div class="tooltip-container">
        <img [src]="planet.resourceType" style="width: 32px;" alt="" class="planet-image"
          *ngIf="planet.resource.capacity > 0">
        <span class="custom-tooltip">{{ getResourceName(planet.resourceType) }}</span>
      </div>
    </div>
    <div class="col-6 planetInfo" [ngClass]="{'always-show': showInfo}" *ngIf="planet.resource.amount > 0">
      {{ formatNumber(planet.resource.amount) }}
      <span class="actual-amount-tooltip">{{ planet.resource.amount }}</span>
    </div>
  </div>
  <div class="copied-message" [class]="copiedClass">Copied!</div>
  <div class="row">
    <div class="col-12" *ngIf="planet.robots.length > 0">
      <div class="robots-container">
        <div class="spinner" *ngIf="!allRobotsLoaded()"></div>
        <ng-container *ngIf="planet.robots.length <= 4">
          <img *ngFor="let robot of planet.robots" [src]="robotImageType === 'random' ? robot.img[0] : robot.img[1]"
            alt="" class="robot-image" (load)="onRobotImageLoad(robot.robotId)"
            [ngStyle]="{'transform': 'scale(' + robotScale + ')'}"
            [style.border]="'2px solid ' + getPlayerColorOfRobot(robot)">
        </ng-container>
        <div *ngIf="planet.robots.length > 6" class="robot-cluster-count" [ngStyle]="{'background-image': 'linear-gradient(to right, ' + calculateRobotProportions() + ')'}">
          {{ planet.robots.length }}
        </div>
      </div>
    </div>
  </div>
</div>