<div class="container mt-5 text-center">
    <h2>Praxisprojekt von Maik Roth</h2>
    <p>Dashboard für das <a href="https://the-microservice-dungeon.gitlab.io/docs/">MSD</a></p>

    <button class="btn-toggle" (click)="toggleTab()">About Me</button>
    
    <div class="about-me" *ngIf="isTabOpen">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi possimus perspiciatis recusandae natus, eveniet dolorum? Corrupti sequi, dicta odio blanditiis animi doloribus saepe beatae corporis fuga laudantium. Eligendi, incidunt adipisci.</p>
        <!-- Add more content about yourself here -->
    </div>
</div>